#background{
	background-color: #000000
}

#foreground{
	background-color: #708090
}

#main_panel{
	background-color: #FFFAFA
}

.background_panel{
	position: fixed;
	width: 100%;
	height: 100%;
}

